{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sidebar %}
<img src="{% static "micro/images/user.png" %}" alt="Generic User"/> <br>
{{ user.username }} <p>
{% endblock %}

{% block content %}
<h1> TODO: Put the recs here </h1>
<div>
  <table id="recList"> <h2> People I follow: </h2>
    <tr>
      <th> Follower </th>
      <td> follows </td>
      <th> Followee </th>
    </tr>
    {% if follows %}
    {% for user in follows %}
    <tr>
      <td>
        <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
        {{ user.follower.username}}
      </td>
      <td> </td>
      <td>
        <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
        {{ user.followee.username}}
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>

  <br>

  <table id="recList"> <h2> People I might want to follow: </h2>
    <tr>
      <th> Follower </th>
      <td> follows </td>
      <th> Followee </th>
    </tr>

    {% if recs %}
      {% for rec in recs %}
      <tr>
        <td>
          <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
          {{ rec.user.username }}
        </td>
        <td> </td>
        <td>
          <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
          {{ rec.recommended_user.username }}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}
