{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sidebar %}
<img src="{% static "micro/images/user.png" %}" alt="Generic User"/> <br>
{{ user.username }} <p>
{% endblock %}

{% block content %}
<h1> TODO: Put the recs here </h1>
<div>
  <table id="recList">
    {% for rec in stuff %}
    <tr>
      <td>
        <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
      </td>
      <td>
        {{ rec.follower.username}} -> {{rec.followee.username}}
        <!-- put the list of users into this table -->
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
